body {
    background-color: #ffff99;
    font-family: Helvetica, Impact, Courier;
    
    /* when full screen, the margin setting looks perfect, but doesn't resize well, I would like to take it off, but not sure. */
    margin-left: 35em;
    margin-right: 35em;

    position: fixed;
}

h1 {
    font-family: Helvetica;
    font-stretch: ultra-condensed;
    color: #ff6600;
    border-color: #ff6600;
    border-width: 0.6 em;
    border-block-style: solid;
    border-left: solid;
    border-right: solid;
    font-weight: 900;
    font-size: 3.0em;
    padding: 0.2em;
    letter-spacing: -.1em;
}


h2 {
    background-color: #ff6600; /*Orange */
    color: #ffff99; /*light yellow */
    
    /*spacing looks good*/
    padding-top: 1.5em;
    padding-bottom: .5em;
    padding-left: .5em;
    
    
    font-family: Courier-new;    
    font-size: 2em;
    word-spacing: .5em;
    white-space: 1em;
    letter-spacing: .1em;
}

ol {
    background-color: #ffcc00; 
    color: #ffff99;
    
}

li {
    font-weight: 800;
    padding: .5em;
}

p {
     border-style: dotted;
    border-color: #ffcc00;
    padding: 1em;
}