body {
    background-color: #ffff99;
    font-family: Helvetica, Impact, 'Courier new';
    
}
 
h1 {
    color: #ff6600;
    border: 1em;
    border-color: #ff6600;
    border-width: medium;
    font-size: xx-large;
    font-weight: 800;
    padding: 35px;
}
 
 
h2 {
    background-color: orange;
    color: #ffcc00;
    font-size: medium;
}
 
ol {
    background-color: #ff6600;
    color:#ffcc00;
}
 
li {
    font-weight: 800;
}
 
p {
    border-style: dotted;
    border-color: #ff6600;
}