body {
    background-color: #ffff99;
    font-family: Helvetica, Impact, Courier;
    margin-left: 36em;
    margin-right: 36em;
}

h1 {
    color: #ff6600;
    border-color: #ff6600;
    border-width: 0.6 em;
    border-block-style: solid;
    border-left: solid;
    border-right: solid;
    font-size: 4em;
    font-weight: 900;
    font-style: bold;
    padding: 0.2em;
    font-family: Impact;
    font-stretch: ultra-condensed;
}


h2 {
    background-color: #ff6600;
    color: #ffff99; /*light yellow */
    padding-top: 1.5em;
    padding-bottom: .5em;
    padding-left: .5em;
}

ol {
    background-color: #ffcc00; 
    color: #ffff99;
    
}

li {
    font-weight: 800;
    padding: .5em;
}

p {
     border-style: dotted;
    border-color: #ffcc00;
    padding: 1em;
}